
@import "../../../app/common/Global.scss";

:host {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 14px;
      color: #333;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 8px 0;
    }
  
    p {
      margin: 0;
    }
  
    .spacer {
      flex: 1;
    }
  
  
  ngb-carousel {
      max-width: 200px;
      margin: 50px auto;
  }
  
  ngb-carousel img {
      width: 100%;
      outline: none;
  }
  
  ngb-carousel {
      width: inherit;
      height: inherit;
  }
  
  .carousel-inner {
      overflow: visible;
  }
  
  .carousel-item {
      display: flex !important;
      opacity: 0;
      visibility: hidden;
      transition: opacity 1.2s ease-in-out, visibility 1.2s;
      z-index: -1;
  }
  
  .carousel-item.active{
      opacity: 1;
      visibility: visible;
      z-index: 10;
  }
  
  .carousel-control-prev {
       z-index: 20;
  }
  
  
  .carousel-control-next {
       z-index: 20;
  }
  
  .carousel-indicators{
      z-index: 20;
  }

  .card-dimesnion{
    height: 125px; 
    width: 300px;
    border-radius: 15px;
    font-family: ubuntu;
    justify-content: center;
    margin:auto;
  }
  .card-dimension-text{
    color:$ColdWhite;
  }

/*  CARD-DIMENTION_1  */
  .card-dimesnion #cd-1-p{
    
    display:inline inline-block;
    position: absolute;
    right:0px;
    bottom:0px;
    color:$ColdWhite;
    padding:10px;
  }

  .card-dimesnion #cd-1{
    font-size: 1.5rem;
  }

  /*  CARD-DIMENTION_2  */
  .card-dimesnion #cd-2-doll{
    font-size: 2rem;
    margin-top:0px;
  }
  .card-dimesnion #cd-2-num
  {
    font-size: 2.5rem;
    font-weight: bold;
  }
  .card-dimesnion #cd-2-text1{
    font-size: 0.8rem;
   position: absolute;
   bottom: 15px;
   left:20px; 
  }
  .card-dimesnion #cd-2-text2{
    color:white;
    font-size: 1rem;
    padding:10px 20px;
  }

 /*  CARD-DIMENTION_3  */

 .card-dimesnion #cd-3-text1{
   font-size: 0.7rem;
   position: absolute;
   top:30%;
   right:15%
 }
 .card-dimesnion #cd-3-text2{
  font-size: 1rem;
  position: absolute;
  top:40%;
  right:20%;
  padding:10px;
}

#myParticipation{
  color:$Black;
}


#partnerCatalog{
  padding:30px;
}
#partnerCatalog_P {
  margin-left: 15%;
  margin-top: 15%;
}
#par_catalog{
  font-size: 1.5rem;
}
.discount{
  margin-left: 15%;
  height:4%;
  padding:5px;
  border-radius: 20px;
}

  .lifestyle-card-dimesnion{
    height: 100%; 
    width: 100%;
  }

.font-size{
  font-size: 18px;
}


.font-weight{
  font-weight: 800;
}

.product-item{
  .product-item-content {
      border: 1px solid var(--surface-d);
      border-radius: 3px;
      margin: .3rem;
      text-align: center;
      padding: 2rem 0;
  }

  .product-image {
      width: 50%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
  }
}


// .btn{
//   font-size:16px;
//   margin-left: -36px;  
//   text-decoration: none;
//   background-color:transparent;
//   border-radius: 50%;
//   border:none;
//   overflow: hidden;
// }






    /* Responsive Styles */
    @media screen and (max-width: 767px) {
      .card-container > *:not(.circle-link) ,
      .terminal {
        width: 100%;
      }
  
      .card:not(.highlight-card) {
        height: 16px;
        margin: 8px 0;
      }
  
      .card.highlight-card span {
        margin-left: 72px;
      }
    }
  
    @media screen and (max-width: 575px) {
      svg#rocket-smoke {
        display: none;
        visibility: hidden;
      }
    }

   #graph-table table thead th {
      width: 20% !important;
    }



    .card-text-container{
      .card-balance-text{
        font-size: 1rem;
      }
      .card-balance-dol{
        font-size: 2rem;
        font-weight: bolder;
        color:$Violet
      }
      .card-balance-num{
        font-size: 3.5rem;
        font-weight: bolder;
        color:$Violet
      }
    }

    #employer-contribution{
      border-radius: 20px;
      color:$ColdWhite;
     
      #cd-2-doll{
        font-size: 2rem;
        font-weight:800;
        text-align: center;
      }
      #cd-2-num{
        font-size: 3rem;
        font-weight: bold; text-align: center;
      }
      .cd-2-text1{
        font-size: 1rem;
      }
      .cd-2-text2{
        font-size: 0.7rem;
      }
      
    }





    


    .text-container {
      transform: translateY(-20px);

    }
    .reloaded-on{
      font-size: 1rem;
     
     
    }
    .reloaded-on .text-container{
      transform: translateY(-10px);
    }
    .reloaded-date{
      font-size: 2rem;
      font-weight:bold;
    }


    .participation-card {
      border-radius: 20px;
      color:$ColdWhite;
      .title {
      font-size: 1rem;
      }
    }

    
    .Card-Balance-header {
      
      box-shadow: 0 0 5px gray;
    }

    #graph-table td {
      border-bottom: 1px solid rgba(128, 128, 128, 0.452);
    }
    #graph-table tr:last-child td {
      border-bottom: 0px solid grey;
    }


   .participation-card-image{
  
    width: 30%!important;
  }
 


    @media (min-width: 768px){
      
    .margin {
    flex: 0 0 auto;
    width: 21%;
    }
   
}
  

    @media (max-width: 800px){
      .participation-card {
        flex: 0 0 auto;
        width: 75%;
        }
    }

    @media (max-width: 800px){
      #employer-contribution {
        width: 75%;
        }
        
        .employer-contribution-text{
        padding-left:0.25rem
      }
      #Per-Month{
        transform: translate(2px, -30px);
      }
    }

    @media (max-width: 1440px){
        .employer-contribution-text{
        padding-left:0px;
        font-size:0.8rem;
       
      }
      #Per-Month{
        transform: translate(22px, -10px);
      }
    }

      @media (min-width: 1440px){
        .employer-contribution-text{
        padding-left:0px;
        font-size:0.8rem
      }
      #Per-Month{
        transform: translate(20px, -27px);
      }
    }
  
    .font-weight-bold{
      font-weight: bold !important;
    }
   
    

    .did-floating-label-content {
      position: relative;
      margin-bottom: 20px;
   }
    .did-floating-label {
      color: #000;
      font-size: 14px;
      font-weight: 500;
      position: absolute;
      pointer-events: none;
      left: 15px;
      top: 11px;
      padding: 0 5px;
      background: #fff;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
      font-family: 'Ubuntu' !important;
   }
    .did-floating-input, .did-floating-select {
      font-size: 14px;
      display: block;
      width: 100%;
      height: 45px;
      padding: 0 20px;
      background: #fff;
      color: #323840;
      border: 1px solid #d1d7dc;
      border-radius: 25px;
      box-sizing: border-box;
   }
    .did-floating-input:focus, .did-floating-select:focus {
      outline: none;
   }
    .did-floating-input:focus ~ .did-floating-label, .did-floating-select:focus ~ .did-floating-label {
      top: -8px;
      font-size: 14px;
   }
    select.did-floating-select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
   }
    select.did-floating-select::-ms-expand {
      display: none;
   }
    .did-floating-input:not(:placeholder-shown) ~ .did-floating-label {
      top: -8px;
      font-size: 14px;
   }
    .did-floating-select:not([value=""]):valid ~ .did-floating-label {
      top: -8px;
      font-size: 13px;
   }
    .did-floating-select[value=""]:focus ~ .did-floating-label {
      top: 11px;
      font-size: 13px;
   }
    .did-error-input .did-floating-input, .did-error-input .did-floating-select {
      border: 1px solid #d1d7dc;
      color: #323840;
   }
    .did-error-input .did-floating-label {
      color: #323840;
   }
    .input-group {
      display: flex;
   }
    .input-group .did-floating-input {
      border-radius: 0 4px 4px 0;
      border-left: 0;
      padding-left: 0;
   }
    .input-group-append {
      display: flex;
      align-items: center;
   }
   /* margin-left:-1px;
    */
    .input-group-text {
      display: flex;
      align-items: center;
      font-weight: 400;
      height: 34px;
      color: #323840;
      padding: 0 5px 0 20px;
      font-size: 12px;
      text-align: center;
      white-space: nowrap;
      border: 1px solid #3d85d8;
      border-radius: 4px 0 0 4px;
      border-right: none;
   }
    
   $breadcrumb-divider: quote(">");