<!--Header-->
<div class="container-fluid p-lg-0">
    <div class="row justify-content-center p-3 mx-0" style="background-color: #F1F7FF;">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 ps-0">
            <div class="row">
                <div class="col-lg-3 content-center text-left">
                    <div class="row col-md-12">
                        <h4 class="font-weight-bold " style="font-size: 32px;"><b>Small Change.</b></h4>
                    </div>
                    <div class="row col-md-12">
                        <h4 class="font-weight-bold" style="font-size: 32px;"><b>Big Difference.</b></h4>
                    </div>
                    <p class="text-justify text-left">"Round up" your lifestyle purchases to the nearest dollar to help the
                        environment and end child hunger.</p>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-8">
                    <img src="../../../assets/DonateChangeHero.png" width="100%" height="90%">
                </div>
            </div>

        </div>
        <div class="col-lg-1"></div>

    </div>
</div>
<br><br>
<!--My Donation-->
<div class="container">
    <div class="row">
        <div class="col-2 font-size font-weight">
            <h4><b>My Donations</b></h4>
        </div>
        <div class="col-2"> <img src="../../../assets/GreenRibbon.png"></div>
    </div>
    <div class="row mt-lg-4">
        <div class="col-md-4">
            <div class="card border-0 shadow" style="height: 100%; background-color: #711CFF; border-radius: 15px;">
                <div class="row card-body" style="align-items: center;">
                    <img class="col-6" src="../../../assets/TreeIcon.png" style="height: 120px;
                    width: 145px;">
                    <div class="col-6 card-text">
                        <h6 class="text-white h4">6 Trees Planted</h6>
                        <p class="text-white" style="font-size: 14px;">Since Novemeber 2020</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-0 shadow" style="height: 100%; background-color: #FF5978; border-radius: 15px;">
                <div class="row card-body" style="align-items: center;">
                    <img class="col-6" src="../../../assets/CertificateIcon.png" style="height: 120px;
                    width: 145px;">
                    <h6 class="col-6 card-text text-white h4">Download My Donation Certificate</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-0 shadow" style="height: 100%; background-color: #00A184; border-radius: 15px;">
                <div class="card-body" style="align-items: center;">
                    <!-- <img class="col-6" src="../../../assets/DigitalWalletIcon.png"> -->
                    <h6 class="card-text ms-4 mt-lg-4 text-white h4">Share My Donation Progress</h6>
                    <img src="../../../assets/SocialIcons.png" class="ms-4" style="" />
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<!--Where will your donations go to ?-->
<div class="container">
    <div class="row mx-0">
        <div class="col-4 font-size font-weight">
            <h4><b>What is Round for Change?</b></h4>
        </div>
        <div class="col-8"> <img src="../../../assets/PinkRibbon.png"></div>
    </div>
    <div class="row align-items-center mt-lg-4">
        <div class="col-4">
            <img src="../../../assets/HappyPeopleGiving.png" class="img-fluid">
        </div>
        <div class="col-8 ps-lg-5">
            <p>Round up for change is a voluntary program that "rounds up" your life purchases to the nearest dollar.
                We're exicted to partner with <a href="/">One Tree Planted</a> and <a href="/">No Kid Hungry</a> as We
                look to help the environment and child hunger.
            </p>
            <h6><b>How it works:</b></h6>
            <ul class="ps-lg-3">
                <li>
                    <p>Each time you make a purchase with your Lifestyle Benefits card,
                        your change will be rounded up to the charity you have chosen.</p>
                </li>
                <li>
                    <p>You'll be able to contribute as little as a penny or as much as 99 cents
                        per life style purchase. If your purchase is $75.50, your purchase is rounded up to $76,
                        with the extra 50 cents contributed to the charity you have chosen.</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-5 font-size font-weight">
            <h4><b>Where will your donations go to?</b></h4>
        </div>
        <div class="col"> <img src="../../../assets/PurpleRibbon.png"></div>
    </div>
    <br>
    <div class="row mx-0">
        <div class="card border-0 shadow" style="height: 100%; background-color: transparent; border-radius: 15px;">
            <div class="row card-body" style="align-items: center;">
                <div class="row">
                    <div class="col-4 text-center">
                        <img src="../../../assets/OneTreePlantedLogo.png" class="img-fluid mb-lg-3"
                            style="height: 150px">
                    </div>
                    <div class="col">
                        <h6><b>One Tree Planted</b></h6>
                        <p>A non profit 501(c)3 environmental tree planting charity that plant trees in countries
                            around the world.
                        </p>
                    </div>
                    <div class="col-2 text-center">
                        <label class="switch">
                            <input type="checkbox" id="togBtn">
                            <div class="slider round">
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </div>
                        </label>
                    </div>
                </div>
                <hr>
                <div class="row align-items-center">
                    <div class="col-4 text-center">
                        <img src="../../../assets/NKH_logo_color_thumb.jpeg" class="img-fluid" style="height: 150px">
                    </div>
                    <div class="col">
                        <h6><b>No Kid Hungry</b></h6>
                        <p>Working to end child hunger in the United States by ensuring that all children get
                            the healthy food that they need to thrive.
                        </p>
                    </div>
                    <div class="col-2 text-center">
                        <!-- <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider"></span>
                        </label> -->
                        <label class="switch">
                            <input type="checkbox" id="togBtn">
                            <div class="slider round">
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>