<div class="container-fluid">
  <div class="row footer justify-content-center">
    <div class="col-12 footer-top">
      <div class="container p-0">
        <div class="row">
          <div class="col-12 col-md-6 align-self-end">
            <div class="row">
              <div class="col-12 footer-logo">
                <img
                  id="flogo"
                  src="../../../assets/EdenredLogo_White.png"
                />
              </div>
              <div class="col-12">
                <div>
                  <img
                    id="fsocial"
                    class="social-icons"
                    src="../../../assets/SocialIcons.png"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 align-self-end">
            <div class="row">
              
              <div class="col text-md-end footer-bottom">
                <div>
                  <p class="footertext small">Edenred Privacy Policy</p>
                  <p class="footertext small">Terms of Use</p>
                  <p class="footertext small">For CA Residents</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 copy-right-band">
      <div class="container p-0">
        <div class="row justify-content-center">
          <div class="col small">&copy; 2021 Edenred Benefits, LLC</div>
        </div>
      </div>
    </div>
  </div>
</div>
