<header class="container edenred-header">
  <div class="row">
    <div class="col-12 col-lg-6 align-self-center logo-area">
      <img
        class="edenred-logo"
        id="edenred_logo"
        src="../../../assets/Edenred_Logo.svg"
      />
    </div>
    <div class="col-12 col-lg-6 align-self-center search-area">
      <form class="d-flex justify-content-end">
        <div class="d-flex search-main">
          <div class="lang-box d-flex">
            <select id="lang" name="Language">
              <option value="English">English</option>
              <option value="Tamil">Spanish</option>
            </select>
          </div>

          <div class="icons d-flex">
            <span class="icon-container align-self-center"
              ><i class="fas fa-user"></i>
            </span>

            <span class="icon-container align-self-center"
              ><i class="fas fa-bell"></i
            ></span>
          </div>

          <div class="search-box d-flex">
            <input
              class="form-control me-1"
              style="height: 35px"
              type="text"
              placeholder="Search"
            />
            <button class="seachbtn" style="margin-top: -2px !important">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</header>
